@import "variables";

@mixin nav {
  width: 100%;
  background: $navbar;
  // height: 60px;
  text-align: right;
  box-sizing: border-box;
  // padding: 13px 24px;
  color: #fff;
  cursor: pointer;
  

  @media only screen and (min-width: 700px) {
      display: none;
  }
}