@import "mixins";
@import "variables";
@import "global";


// header
header {
  nav{
    position: absolute;
    display: grid;
    width: 100%;
    @media only screen and (min-width: 700px) {
      grid-template-rows: minmax(min-content, 100px) min-content;
    } 
    
    .menu-bar{
      @include menu-bar;
    }

    .dropdown {
      @include dropdown;
   }

   .sidebar{
      @include sidebar;
   }

}

}
  #showcase {
    height: 70em;
    background-color: rgba(3, 7, 29, 0.361);
    @media only screen and (min-width: 700px) {
    //  height: 100vh;
    }
    #bg-image {
      @include background;
      opacity: 1;

    }

    .content-wrap {
      @media only screen and (min-width: 700px) {
       // height: 800px;
      }
        #question_answer{
          position: relative;
          width: 18em;
          margin: 0 auto;
          top: 10em;

          h1 {
            padding-bottom: 0;
            font-size: 180%;
            font-family: "Oleo Script Swash Caps", cursive;
            @media only screen and (min-width: 700px) {
              font-family: "Acme", cursive;
              text-shadow: 1px 1px 15px $black;
              padding: 1em 0 .5em 0;
            }
          }
          p {
            font-family: "Poiret One", cursive;
            font-weight: thin;
            font-size: 1.1em;
            margin-bottom: 1.2em;
            @media only screen and (min-width: 700px) {
              font-size: 150%;
              text-shadow: 1px 1px 10px $black;
              margin-bottom: .8em;
            }
          }
          a {
            text-decoration: none;
            display: inline-block;
            margin-bottom: .5em;
            width: 100%;
            background: #377166c9;
            padding: 0.5em 0;
            color: $white;
            opacity: 0.9;
            &:hover {
              opacity: 0.3;
              cursor: pointer;
            }
            @media only screen and (min-width: 700px) {
              padding: 0.9em 0;
            }
        }
        @media only screen and (min-width: 700px) {
          width:20em;
          top: 11em;
        }
      }

    }
  }
.container{
  height: 70em;
}

#user-background-image{
  @include background;
  background: url("./../images/img7.jpg");
  opacity: 1;
}

.main-content{
  position: relative;
  top: 10em;
  font-size: .8em;
  padding: 0 1em;

  #ask_question{
    position: relative;
    left: 1.5em;
    padding-top: 2em;
    margin-bottom: 3em;
    input[type="text"]{
      width: 70%;
      border-radius: 4px;
      @media only screen and (min-width: 700px) {
    
      }
      @media only screen and (min-width: 900px) {
      }
    }
    
    button[type="submit"] {
      width: 3.5em;
      height: 32px;
      background-color: #0f1d1b;
    }
  }


  .question{
    overflow: hidden;
    .questions{
      display: grid;
      grid-column-gap: 1.5em;
      grid-template-columns: 5% 85% 10%;
      border-bottom: #ffebcd2b 1px solid;

      .profile_img_section{
        margin: .8em 0 0 0;
        .profile_img{
          width: 3em;
          height: 3em;
          border: blanchedalmond 1px solid;
          border-radius: 50%;
        }
      }

      .questions_section{
        margin: 0 0 1em 0;
        //width: 90%;
        h4.username{
          text-align: left;
          margin: 1em 0 .5em 1em;
          font-size: 1.2em;
        }
        p{
          width: 92%;
          margin: 0 0 1em 1em;
          text-align: left;
          color: #c7bdbd;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        }
        .icons {
          position: relative;
          text-align: left;
          img{
            width: 2em;
            display: inline-block;
          }
          .comment{
            width: 2.7em;
            margin: 0 1em;
          }
          .like{
          position: relative;
          bottom: .4em;
          }
        }

        h3{ 
          float:left;
          padding-left:1em;
        }
      
        @include Table;
      
        input[type="text"], button[type="submit"]{
          border-radius: 5px;
        }
      }

      .menu_section{
        .menu_icon_select{
          width: 1.5em;
          background: transparent;
          color: white;
          border-color: transparent;
          position: relative;
          right: 5em;
          top: .3em;
          

          &:focus{
            outline:none;
          }
      
          option{
            //position: absolute ;
            right:7em;
            background-color: #0f1d1b;
            font-size: 13px;;
            width: 2em;
          }
        }
        

        .menu_icon{
          font-size: 2em;
          position: relative;
          top: .2em;
          right: 1.7em;

          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}


/* footer */
#footer {
  padding: 2em;
  background: #080e0f;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  a {
    text-decoration: none;
  }
}

// SIGNUP $& LOGIN
input[type="text"],
input[type="password"],
button[type="submit"] {
  border: rgba(10, 10, 10, 0.34) 1px solid;
 // border-radius: 5px;
  height: 20px;
  width: 90%;
  margin-bottom: 10px;
  padding: 4px 4px;
  font-size: 12px;
  #submit_ask{
    width: 80%;
  }
  @media only screen and (min-width: 700px) {
    width: 90%;
    font-size: 0.8em;
    height: 30px;
  }
  @media only screen and (min-width: 900px) {
    font-size: 0.8em;
  }
}


button[type="submit"] {
  color: #ffffff;
  height: 35px;
  background-color: #324e4a;
  width: 93%;
  transition: all 0.5s;
  @media only screen and (min-width: 700px) {
    padding: 0px 10px 2px 10px;
    font-size: 0.9em;
    border: none;
    height: 40px;
    margin: 0 auto;
    transition: all 0.5s;
  }
  @media only screen and (min-width: 900px) {
    // font-size: 0.9em;
  }
  @media only screen and (min-width: 1000px) {
    // font-size: 0.9em;
   // width: 6em;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

//Modals

// Modals
#modal_make_comment,#modal_ask_question{
 display: none;
  position: fixed;
  z-index: 1004;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.356);
}

#make_comment_content{
  position: relative;
  z-index: 100;
  background-color: #fefefe;
  margin: 10% 0 10% 7%;
  padding: 0 1em;
  top: 4em;
  width: 70%;
  padding-bottom: 30px;
  @media only screen and (min-width: 900px) {
      margin: 6em auto;
      width:35em;
  }
  h1{
      color: #000;
      font-size: 1.2em;
      @media only screen and (min-width: 700px) {
          font-size: 1.3em;
      }

  }
  table{
      width: 100%;
      margin: 0 auto;
  }
  label {
      color: #000;
      font-size: .8em;
      font-weight: bold;
      padding: 0 0 1em 0;
      text-align: center;
      margin-right: 0.4em;
      @media only screen and (min-width: 700px) {
          font-size: 1em;
          padding: 0;
      }
  }
  input[type="text"] {
      width: 80%;
      border:  rgba(31, 29, 26, 0.494) 1px solid;
      border-radius: 2px;
      height: 1.5em;
      padding: .5em;
      font-size: 14px;
      @media only screen and (min-width: 700px) {
          width: 70%;
          font-size: .8em;
          height: 3em;
          margin: 1em 0 0 0;
      }
  }
  input[type="date"] {
    border:  rgba(31, 29, 26, 0.494) 1px solid;
    border-radius: 2px;
    height: 1.5em;
    padding: .5em;
    font-size: 14px;
    @media only screen and (min-width: 700px) {
        font-size: 1.1em;
        height: 3em;
        margin: 1em 0 0 0;
    }
}
  textarea{
      width: 90%;
      border:  rgba(31, 29, 26, 0.494) 1px solid;
      margin: 1em 0 0 0;
      padding: .5em;
  }

  button[type='submit']{
      width: 8em;
      float: right;
      margin-right: 1em;
      font-size: .7em;
      background-color: #051313;    
      @media only screen and (min-width: 700px) {
      float: none;
      width: 11em;
      margin: 1em 0 0 8em;
    }
  }
}

// close 
span{
  position: absolute;
  font-size: 1.5em;
  color: #000;
  right: 10px;
  &:hover {
      cursor: pointer;
  }
}


//dropdown
.dropdown{
  .menu_list1,.menu_list2, .menu_list3, .menu_list4{
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    transition-delay: .5s;
    right:3.5em;
  }
    li{
      background: #0f1d1b;
      position : relative;
      list-style: none;
      border-bottom: #ffebcd0d 1px solid;
      width: 100px;

      a{
        padding: 0 10px;
        color: white;
        text-decoration: none;
        line-height: 35px;
        font-size: 12px;
        
        &:hover{
          opacity: 0.7;
        }
      }
    }

}
