@import "mixins";
@import "variables";
@import "global";


// header
header {
  nav{
    position: absolute;
    display: grid;
    width: 100%;
    @media only screen and (min-width: 700px) {
      grid-template-rows: minmax(min-content, 100px) min-content;
    }
    
    .menu-bar{
      @include menu-bar;
    }

    .dropdown {
      @include dropdown;
   }

   .sidebar{
    // @include dropdown;
     display: grid;
     grid-template-rows: auto;
     width: 200px;
     z-index:3;
     height: 605px;
     padding: 5em 0em;
     background: #13161f;
     text-align: center;
     transform-origin: left;
     transform:perspective(1200px) rotateY(90deg);
     transition: all 600ms ease;
     @media only screen and (min-width: 700px) {
      width: 30%;
      transform: none;
      background: #0b0f19;
    }
      @media only screen and (min-width: 900px) {
          width: 20%;
          transform: none;
      }
      &.active{
        transform: perspective(1200px) rotateY(0deg);
        //display: none;
    }
  }
}

}
  #showcase {
    height: 600px;
    background-color: rgba(3, 7, 29, 0.361);
    @media only screen and (min-width: 700px) {
      height: 700px;
    }
    #bg-image {
      @include background;
    }

    .content-wrap {
      @media only screen and (min-width: 700px) {
       // height: 800px;
      }
        #question_answer{
          position: relative;
          width: 18em;
          margin: 0 auto;
          top: 10em;

          h1 {
            padding-bottom: 0;
            font-size: 180%;
            font-family: "Oleo Script Swash Caps", cursive;
            @media only screen and (min-width: 700px) {
              font-family: "Acme", cursive;
              text-shadow: 1px 1px 15px $black;
              padding: 1em 0 .5em 0;
            }
          }
          p {
            font-family: "Poiret One", cursive;
            font-weight: thin;
            font-size: 1.1em;
            margin-bottom: 1.2em;
            @media only screen and (min-width: 700px) {
              font-size: 150%;
              text-shadow: 1px 1px 10px $black;
              margin-bottom: .8em;
            }
          }
          a {
            text-decoration: none;
            display: inline-block;
            margin-bottom: .5em;
            width: 100%;
            background: #377166c9;
            padding: 0.5em 0;
            color: $white;
            opacity: 0.9;
            &:hover {
              opacity: 0.3;
              cursor: pointer;
            }
            @media only screen and (min-width: 700px) {
              padding: 0.9em 0;
            }
        }
        @media only screen and (min-width: 700px) {
          width:20em;
          top: 11em;
        }
      }

    }
  }

.container{
 // @include background;

  .sidebar{
    @include sidebar;
  }
  
}



/* footer */
#footer {
  padding: 2em;
  background: #2f3039;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  a {
    text-decoration: none;
  }
  .fa {
    padding: 0.4em;
    font-size: 1.5em;
    &:hover {
      color: #d5d5d5;
    }
  }
  .fa-twitter {
    color: #00aced;
  }
  .fa-instagram {
    color: #517fa4;
  }
  .fa-youtube {
    color: #bb0000;
  }
}

// SIGNUP $& LOGIN
input[type="text"],
input[type="password"],
button[type="submit"] {
  border: rgba(10, 10, 10, 0.34) 1px solid;
 // border-radius: 5px;
  height: 20px;
  width: 90%;
  margin-bottom: 10px;
  padding: 4px 4px;
  font-size: 12px;
  @media only screen and (min-width: 700px) {
    width: 90%;
    font-size: 0.8em;
    height: 30px;
  }
  @media only screen and (min-width: 900px) {
    font-size: 0.8em;
  }
}

button[type="submit"] {
  color: #ffffff;
  height: 35px;
  background-color: #324e4a;
  width: 93%;
  transition: all 0.5s;
  @media only screen and (min-width: 700px) {
    padding: 0px 10px 2px 10px;
    font-size: 0.9em;
    border: none;
    height: 40px;
    margin: 0 auto;
    transition: all 0.5s;
  }
  @media only screen and (min-width: 900px) {
    // font-size: 0.9em;
  }
  @media only screen and (min-width: 1000px) {
    // font-size: 0.9em;
   // width: 6em;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}