body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background: #fff;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 1em;
  }
}

*, *:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

header nav {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  header nav {
    -ms-grid-rows: minmax(min-content, 100px) min-content;
        grid-template-rows: minmax(-webkit-min-content, 100px) -webkit-min-content;
        grid-template-rows: minmax(min-content, 100px) min-content;
  }
}

header nav .menu-bar {
  background-color: #30353cd1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

header nav .menu-bar h1 {
  position: relative;
  right: 35%;
  font-size: 25px;
}

@media only screen and (min-width: 700px) {
  header nav .menu-bar h1 {
    font-size: 2em;
    right: 5em;
  }
}

header nav .menu-bar .menu {
  position: relative;
  left: 2em;
}

header nav .menu-bar .menu:hover {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

@media only screen and (min-width: 700px) {
  header nav .menu-bar .menu {
    display: none;
  }
}

header nav .menu-bar .links {
  display: none;
}

@media only screen and (min-width: 700px) {
  header nav .menu-bar .links {
    display: -ms-grid;
    display: grid;
    position: relative;
    left: 30%;
    font-size: 1em;
    grid-gap: 0px;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: minmax(-webkit-min-content, 70px);
    grid-auto-columns: minmax(min-content, 70px);
  }
}

@media only screen and (min-width: 700px) {
  header nav .menu-bar {
    background-color: #00000000;
  }
}

header nav .dropdown {
  display: none;
  width: 100%;
  height: 10em;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #30353cd1;
  top: 4em;
  position: absolute;
  z-index: 1;
  text-align: center;
}

header nav .dropdown a {
  font-size: 15px;
  color: white;
  padding: 20px 0;
  width: 5em;
  margin: auto;
  text-decoration: none;
}

header nav .dropdown a:hover {
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

@media only screen and (min-width: 700px) {
  header nav .dropdown a {
    font-size: 18px;
  }
}

#showcase {
  height: 600px;
  background-color: rgba(3, 7, 29, 0.361);
}

@media only screen and (min-width: 700px) {
  #showcase {
    height: 700px;
  }
}

#showcase #bg-image {
  position: absolute;
  background: url("./../images/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 685px;
  z-index: -2;
  opacity: 0.85;
  -webkit-transition: background-image 7s ease-in-out;
  transition: background-image 7s ease-in-out;
}

@media only screen and (min-width: 700px) {
  #showcase #bg-image {
    height: 783px;
  }
}

#showcase .content-wrap #question_answer {
  position: relative;
  width: 18em;
  margin: 0 auto;
  top: 10em;
}

#showcase .content-wrap #question_answer h1 {
  padding-bottom: 0;
  font-size: 180%;
  font-family: "Oleo Script Swash Caps", cursive;
}

@media only screen and (min-width: 700px) {
  #showcase .content-wrap #question_answer h1 {
    font-family: "Acme", cursive;
    text-shadow: 1px 1px 15px #000;
    padding: 1em 0 .5em 0;
  }
}

#showcase .content-wrap #question_answer p {
  font-family: "Poiret One", cursive;
  font-weight: thin;
  font-size: 1.1em;
  margin-bottom: 1.2em;
}

@media only screen and (min-width: 700px) {
  #showcase .content-wrap #question_answer p {
    font-size: 150%;
    text-shadow: 1px 1px 10px #000;
    margin-bottom: .8em;
  }
}

#showcase .content-wrap #question_answer a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: .5em;
  width: 100%;
  background: #377166c9;
  padding: 0.5em 0;
  color: #fff;
  opacity: 0.9;
}

#showcase .content-wrap #question_answer a:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  #showcase .content-wrap #question_answer a {
    padding: 0.9em 0;
  }
}

@media only screen and (min-width: 700px) {
  #showcase .content-wrap #question_answer {
    width: 20em;
    top: 11em;
  }
}

#showcase .content-wrap .fa {
  color: rgba(0, 0, 0, 0.267);
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* footer */
#footer {
  padding: 2em;
  background: #2f3039;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

#footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

#footer a {
  text-decoration: none;
}

#footer .fa {
  padding: 0.4em;
  font-size: 1.5em;
}

#footer .fa:hover {
  color: #d5d5d5;
}

#footer .fa-twitter {
  color: #00aced;
}

#footer .fa-instagram {
  color: #517fa4;
}

#footer .fa-youtube {
  color: #bb0000;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
  border: rgba(10, 10, 10, 0.34) 1px solid;
  height: 20px;
  width: 90%;
  margin-bottom: 10px;
  padding: 4px 4px;
  font-size: 12px;
}

@media only screen and (min-width: 700px) {
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    width: 90%;
    font-size: 0.8em;
    height: 30px;
  }
}

@media only screen and (min-width: 900px) {
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    font-size: 0.8em;
  }
}

button[type="submit"] {
  color: #ffffff;
  height: 35px;
  background-color: #324e4a;
  width: 93%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (min-width: 700px) {
  button[type="submit"] {
    padding: 0px 10px 2px 10px;
    font-size: 0.9em;
    border: none;
    height: 40px;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

button[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

button[type="submit"]:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */